<div class="container">

  <br />
  <h2>Tela cadastro de paciente</h2>

  <form>
   <!-- <pre>{{pacientes | json}}</pre>-->
    <div class="p-grid">
         <div class="p-col-5 p-fluid">
              <label>Nome</label>
              <input type="text" name="nome" [(ngModel)]="p.nome" pInputText [ngModelOptions]="{standalone: true}">
         </div>

         <div class="p-col-2 p-fluid">
          <label>CPF</label>
          <input type="text" name="cpf" [(ngModel)]="p.cpf" pInputText [ngModelOptions]="{standalone: true}">
     </div>

          <div class="p-col-1 p-fluid">
              <label>Idade</label>
              <input type="text" name="idade" [(ngModel)]="p.idade" pInputText [ngModelOptions]="{standalone: true}">
          </div>

          <div class="p-col-2 p-fluid">
            <label>Nascimento</label>
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="icon" [readonlyInput]="false" [(ngModel)]="p.dataNascimento"
            [ngModelOptions]="{standalone: true}"></p-calendar>

        </div>

          <div class="p-col-3 p-fluid">
            <label>Telefone</label>
            <input type="text" name="telefone" [(ngModel)]="p.telefone" pInputText
            [ngModelOptions]="{standalone: true}">
        </div>

        <div class="p-col-12">
          <button pButton type="button" (click)="cadastrar()" label="Cadastrar"></button>
      </div>
    </div>

  </form>
  <br/>

  <div class="p-grid">

        <div class="p-col-5 p-fluid">
             <input type="text" pInputText>
        </div>

        <div class="p-col-3">
             <button pButton type="button" label="Pesquisar"></button>
        </div>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="pacientes" [paginator]="true" rows="1" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th class="col-data-header">Id</th>
            <th class="col-data-header">Nome</th>
            <th class="col-data-header">CPF</th>
            <th class="col-data-header">Idade</th>
            <th class="col-data-header">Nascimento</th>
            <th class="col-valor-header">Telefone</th>
            <th class="col-data-header" style="align-content:center; width: 117px; "></th>
          </tr>
        </ng-template>
       <ng-template pTemplate="body">
            <tr *ngFor="let p of pacientes">
            <td class="col-data-content">{{ p.id }}</td>
            <td class="col-data-content">{{ p.nome }}</td>
            <td class="col-data-content">{{ p.cpf }}</td>
            <td class="col-data-content">{{ p.idade }}</td>
            <td class="col-data-content">{{ p.dataNascimento }}</td>
            <td class="col-data-content">{{ p.telefone }}</td>
            <td>
              <a pButton (click)="editar(p.id)" icon="pi pi-pencil"
               pTooltip="Editar" tooltipPosition="top" routerLink="/cadastro-paciente/{{p.id}}"
               ></a>&nbsp;

              <button pButton (click)="remover(p.id)" icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            </td>
          </tr>
       </ng-template>
      </p-table>
    </div>
  </div>




</div>
