<app-navbar></app-navbar>
<!--<app-cadastro-paciente></app-cadastro-paciente>-->

<app-ordem-de-servico></app-ordem-de-servico>

<!--
<div class="container">
  <br />
  <h1>Bem vindo ao Sistema</h1>
  <p>
    <p-card header="Olá!" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/img/img_sistema.jpg">
      </ng-template>
      <p>Seja muito bem vindo(a) ao sistema de OS.
        Aqui você pode cadastrar os pacientes
        e sempre que esse paciente voltar a clinica
        você pode relacionar esse paciente a uma OS.
      </p>
    </p-card>
  </p>
</div>
-->
